/* Действия формы
   ============================================== */

.field-actions {
    display: block;
    margin-top: $typo-margin-vertical;
    margin-bottom: $typo-margin-vertical;

    &__text {
        display: block;
        margin-top: $typo-margin-vertical;
        margin-bottom: $typo-margin-vertical;
        font-size: $font-size-sm;
        color: $text-color-muted;
        line-height: 1.2em;
    }
}