# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode
.claude/

# Вспомогательные файлы
*.log*
node_modules/
package-lock.json
.env

# Папка с собранными файлами проекта
build/