/* Текстовое поле в форме
   ============================================== */

.field-text {

  display: block;
  margin-bottom: $typo-margin-vertical;

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    @include field-text;

    @at-root textarea#{&} {
      $textarea-height: ($line-height * 2) + ($field-padding-vertical * 2);

      height: auto;
      min-height: calc(#{$textarea-height} + 2px);
      resize: vertical;
    }
  }

  &__help-text {
    @include field-help-text;
  }



  &--error {

    .field-text__name,
    .field-text__input,
    .field-text__help-text {
      color: $color-danger;
    }

    .field-text__input {
      border-color: $color-danger;
      background-color: lighten($color-danger, 35%);
    }
  }
}