//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.
  Любые изменения этого файла будут потеряны при следующей компиляции.
  Любое изменение проекта без возможности компиляции ДОЛЬШЕ И ДОРОЖЕ в 2-5 раз.

include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/button/button.pug
include ../blocks/logo/logo.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
include ../blocks/pagination/pagination.pug
