extends ../pug/layout.pug

block meta
  title Главная

block content
  main.main
    h2 Title
    hr
    p paragraph 
    div.ddff sddsd
    div(title='sdds') sdsdd
    ul.items
      li.items__t
      li.items__t
      li.items1__t



