extends ../pug/layout.pug

block meta
  title Главная

block head
  link(rel="stylesheet" href="css/style.css")

block content
    <main>
    include ../blocks/breadcrumbs/breadcrumbs  
    </main>




